<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>export TM_MODULE_TITLE=`perl &lt;&lt;&lt;$TM_NEW_FILE_BASENAME -pe 'y/_/ /; s/(?:^|\b)(.)/uc($1)/ge'`

TM_INFO_FILE="$TM_NEW_FILE_DIRECTORY/$TM_NEW_FILE_BASENAME.info"

if [[ ! (-f $TM_NEW_FILE || -f $TM_INFO_FILE) ]]; then
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' &lt; module.module &gt; "$TM_NEW_FILE"
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' &lt; module.info &gt; "$TM_INFO_FILE"
fi</string>
	<key>extension</key>
	<string>module</string>
	<key>name</key>
	<string>Module 5.x</string>
	<key>scope</key>
	<string>source.php</string>
	<key>uuid</key>
	<string>D9A0C863-3B26-4D22-9FA4-AD93A46A3ED5</string>
</dict>
</plist>
